{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-campaign-head-section mdl-typography--text-center">
    </div>
    <div class="login-campaign-login-section">
        <form action="{{ path("fos_user_security_check") }}" method="post" style="text-align: center;">
            {#<div class="login-card-wide mdl-card mdl-shadow--2dp">#}
                {#<div class="mdl-card__title">#}
                    {#<h2 class="mdl-card__title-text">Welcome</h2>#}
                {#</div>#}
                {#<div class="mdl-card__supporting-text">#}

            {% if error %}
                <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}


            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="mdl-textfield__input" type="password" id="password" name="_password" required="required" />
            </div>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember_me">
                <input type="checkbox" id="remember_me" class="mdl-checkbox__input" name="_remember_me" value="on">
                <span class="mdl-checkbox__label">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
            </label>

            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                {#</div>#}
            {#</div>#}
        </form>
    </div>
{% endblock fos_user_content %}
